.episode-detail-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.character {
  display: flex;
}

.image {
  margin-right: 15px;
}
