.page-container {
  padding: 2rem;

  .page-title {
    text-align: center;
  }

  .episodes-container {
    min-height: fit-content;
    max-height: 1800px;
    width: 50vw;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .episode-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 1rem;
      cursor: pointer;
      -moz-osx-font-smoothing: grayscale;
      backface-visibility: hidden;
      transform: translateZ(0);
      transition: transform 0.25s ease-out;
      font-size: 1rem;

      &:hover {
        transform: scale(1.05);
        color: black;
      }
    }
  }
}

// @media screen and (max-width: );
