.page-container {
  padding: 2rem;

  .page-title {
    text-align: center;
  }

  .episodes-container {
    min-height: fit-content;
    max-height: 1800px;
    width: 40vw;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (max-width: 1200px) {
    .episodes-container {
      width: 60vw;
    }
  }

  @media screen and (max-width: 910px) {
    .episodes-container {
      width: 70vw;
    }
  }

  @media screen and (max-width: 650px) {
    .episodes-container {
      width: 80vw;
    }
  }
}
