.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .filter-category-container {
    width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
