.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.navbar {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1900px;

    .nav-logo-container {
      .nav-logo {
        width: 200px;
        align-items: center;
        margin-left: 20px;
        cursor: pointer;
        text-decoration: none;
      }
    }

    .nav-menu {
      display: flex;
      list-style: none;
      text-align: center;
      margin-bottom: 0;

      .nav-item {
        line-height: 40px;
        margin-right: 1rem;

        &:after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: width 0.7s ease, background-color 0.5s ease;
        }

        &:hover:after {
          width: 100%;
          background: #00b68c;
        }

        .nav-links {
          color: #fff;
          text-decoration: none;
          padding: 0.5rem 1rem;
          height: 100%;
          border-bottom: 3px solid transparent;
        }
      }
    }

    .nav-icon {
      display: none;
    }
  }
}

@media only screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #000;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;

    .nav-links {
      padding: 1.5rem;
      width: 100%;
    }
  }
  .nav-icon {
    display: block !important;
    position: absolute;
    top: -7px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #00b68c;
  }
}
